@import 'tailwindcss';
@import '../css/colors.css';
@import '../css/utilities.css';

.label-styles {
  @apply absolute pointer-events-none left-4 top-1/2 -translate-y-1/2 transition-all bg-[var(--main-bg)] px-1;
}

.input-styles {
  @apply w-full p-4 outline-0 rounded-[8px] rounded-b-[0px] focus:rounded-[8px] transition-all;
}

.calendar-styles {
  @apply w-full text-left sm:text-center cursor-pointer p-2 outline-0 border-0 border-b;
}

.options-styles {
  @apply w-full outline-0 z-50 mt-1 rounded-3xl absolute;
}

.option-styles {
  @apply cursor-pointer select-none rounded-3xl p-4 transition-colors;
}

.option-styles:hover {
  background: var(--main-primary-hover);
  color: var(--main-button-text);
}

.li-styles {
  @apply rounded-4xl p-4;
}

.board-card {
  @apply relative overflow-auto rounded-xl border-l-8 border-2 box-content max-h-[269px] p-4 shadow-lg transition-transform;
}

.board-card:hover {
  transform: translateY(-10px);
}
